<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to (@booku.user) do %>
              <%= image_tag @booku.user.get_profile_image, size:"100x100" %><br>
              <%= @booku.user.name %>
            <% end %>
          </td>
          <td><%= link_to @booku.title, @booku %></td>
          <td><%= @booku.body %></td>
            <% if @booku.user_id == current_user.id %>
              <td><%= link_to 'Edit', edit_book_path(@booku), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to 'Destroy', @booku, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>